<% gists.each do |gist| %>
	<div class="jumbotron">
     	<h1 class="naglowek"><%= gist.description %> (<%= gist.lang %>)</h1>
      	<p class="snip"><%= raw Pygments.highlight(gist.snippet, lexer: gist.lang) %></p>
      	<p><a href='<%= edit_gist_path(gist) %>'><button type="button" class="btn btn-sm btn-success">Edit</button></a>
      		<a href='/download/<%= gist.id %>'><button type="button" class="btn btn-sm btn-primary">Download</button></a>
      		<%= link_to gist, method: :delete, data: {confirm: 'Are you sure?' } do %><button type="button" class="btn btn-sm btn-danger">Delete</button><% end %></p>      		
     </div>
<% end %>