<!DOCTYPE html>
<html>
<head>
  <title>MyGists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/gists/new">New Gist</a></li>
          <li>
            <form role="search">
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            </form>
          </li>
        </ul>
        <h3 class="text-muted">My Gists</h3>       
      </div>

      <%= yield %>

      <div class="footer">
        <p>&copy; Jakub Nowicki 2014</p>
      </div>

    </div> 

</body>
</html>
