<!DOCTYPE html>
<html>
<head>
  <title>MyGists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
  jQuery(document).ready(function() {
    var offset = 220;
    var duration = 500;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
        } else {
            jQuery('.back-to-top').fadeOut(duration);
        }
    });
    
    jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
    })
});
  </script>
</head>
<body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            <% if current_user %>
    <li><a><%= current_user.email %></a></li>
    <li><%= link_to "Log out", log_out_path %></li>
  <% else %>
    <li><%= link_to "Sign up", sign_up_path %></li>
    <li><%= link_to "log in", log_in_path %></li>
        <% end %>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/gists/new">New Gist</a></li>
          <li>
            <form role="search">
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            </form>
          </li>
        </ul>
        <h3 class="text-muted">My Gists</h3>       
      </div>

      <%= yield %>
      <a href="#" class="back-to-top">Back to Top</a>

      <div class="footer">
        <p>&copy; Jakub Nowicki 2014</p>
      </div>

    </div> 

</body>
</html>
